.postTemplate {
    margin: 0 auto 1em;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.postTemplate a {
    text-decoration: solid;
    color: inherit;
}


.postTemplate .postBody {
    width: 90%;
}

.postTemplate .post {
    max-height: 300px;
    overflow: hidden;
}

.postTemplate .postHead {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.postTemplate .postFeet {
    height: 40px;
    display: flex;
    align-items: center;
}

.containerImageUpload {
    display: flex;
    align-items: center;
    color: aqua;
}

.containerImageUpload input[type="filename"] {
    display: none;
    color: blue;
}

.containerImageUpload span {
    color: red;
    text-align: center;
}

.fontAwesomeSize {
    font-size: 1.5em;
}